@{
    ViewBag.Title = "TTM Home";
}

<div class="jumbotron">
    <h1>Team Task Manager</h1>
    <p class="lead">Welcome to the Team Task Manager.<br />Please log in below</p>
    <p><a href="@Url.Action("Index", "Authentication")" class="btn btn-primary btn-lg">Login &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Add a User</h2>
        <p>
            Add a new user to the Team Task Manager
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Register", "Authentication")">Submit &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add a task</h2>
        <p>Add a task to a team member</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Task")">Submit &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Admin Portal</h2>
        <p>For administion use only</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Task")">Submit &raquo;</a></p>
    </div>
</div>